#Juce Related
Builds
JuceLibraryCode

# ProtoBuff Generated
ProtoBuff

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio Files
.vs
Debug
Release
*.suo
*.csproj.user
*.vbproj.user
ipch
*sdf